
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="jumbotron">
    <h1 align="center" style=" font-family: 'Bauhaus 93';">
        ADMINISTRATOR AREA!!!!
    </h1>   
    <h4><i class="fa fa-7x fa-user-circle"></i></h4>
</div>




